{{- $email := promptStringOnce . "email" "email address" -}}
{{- $ip := promptStringOnce . "ip" "open-webui ip" -}}

encryption = "age"
{{ if eq .chezmoi.os "windows" }}
[cd]
command = "nu"
{{ end }}

[diff]
pagger = "delta"

[git]
autoAdd = true
autoCommit = true

[age]
identity = "~/workspace/mxy/key.txt"
recipient = "age1ve3lsmesxm4azuf8vm8uf28av4t6575kttjh9jqc52wwsrkhhd3stph76r"

[edit]
command = "nvim"
watch = true

[data]
email = {{ $email | quote }}
ip = {{ $ip | quote }}
