{{- $email := promptStringOnce . "email" "email address" -}}

{{if eq .chezmoi.os "windows"}}
[cd]
args = ["-NoLogo"]
command = "pwsh"
{{end}}

[git]
autoAdd = true
autoCommit = true
autoPush = true

[data]
email = {{ $email | quote }}

