{
	order upload before file_server
	log {
		level debug
	}
}

:8080 {
	# uri strip_prefix /sub-store
	# uri query api 'http://sub-store:3002/2cXaAxRGfddmGz2yx1wA
	reverse_proxy http://sub-store:3001
}

:80 {
	@metacubex {
		header Cookie "*app_context=metacubex*"
	}

	@fromGPTLoad {
		header Cookie "*app_context=gpt-load*"
	}

	handle_path /assets/* {
		handle @metacubex {
			rewrite * "/assets{uri}"
			header x-Route-by "assets_meteacubex"
			reverse_proxy http://metacubexd
		}

		handle @fromGPTLoad {
			rewrite * "/assets{uri}"
			header x-route-by "assets_gpt-load"
			reverse_proxy http://gpt-load:3001
		}

		root * /srv
		file_server browse
	}

	handle_path /upload {
		upload {
			root_dir /srv
			dest_dir_field_name upload_dir
			response_template templates/upload-resp-template.txt
		}
	}

	handle /sub-store {
	}

	handle_path /metacubex {
		reverse_proxy metacubexd {
			header_down Set-Cookie "app_context=metacubex; Path=/; Max-Age=3600; SameSite=Lax; HttpOnly"
		}
	}

	#这是因为会接受类似 /gpt-load/chat/completions 的路由
	handle_path /gpt-load* {
		header Set-Cookie "app_context=gpt-load; Path=/; Max-Age=3600; SameSite=Lax; HttpOnly"
		reverse_proxy gpt-load:3001
	}

	handle_path /test* {
		respond "path: {path}, uri: {uri}"
	}
	
	handle @fromGPTLoad {
		#rewrite * "/assets{uri}"
		header x-router-by "gpt-load"
		reverse_proxy gpt-load:3001
	}
}
