{
    order upload before file_server
    log {
        level debug
    }
}

:80 {
    @metacubex {
        header Cookie "*app_context=metacubex*"
    }

    @substore {
        header Cookie "*app_context=substore*"
    }

    handle @substore {
        header x-Route-by "sub-store"
        reverse_proxy sub-store:3001
    }

    handle_path /assets/* {
        handle @metacubex {
            rewrite * "/assets{uri}"
            header x-Route-by "meteacubex"
            reverse_proxy http://metacubexd 
        }

        root * /srv
        file_server browse
    }

    @mypost method POST
    upload @mypost {
        root_dir /srv
        dest_dir_field_name upload_dir
        response_template templates/upload-resp-template.txt
    }

    handle_path /sub-store {
    	rewrite * "?api=http://sub-store:3001/cD7wiTGitLyoBdEguAnFWmqCpHKwhLQh4opXfFhFCEpmY9K7YnPgFu9e2iiUoty2"
        reverse_proxy sub-store:3001 {
            header_down Set-Cookie "app_context=substore; Path=/; Max-Age=3600; SameSite=Lax; HttpOnly"
        }
    }

    handle_path /metacubex {
        reverse_proxy http://metacubexd {
            header_down Set-Cookie "app_context=metacubex; Path=/; Max-Age=3600; SameSite=Lax; HttpOnly"
        }
    }
}
