set -x GithubToken {{ "{{" }} (fromToml (joinPath .chezmoi.sourceDir "workspace{{ .chezmoi.pathSeparator }}{{ .chezmoi.group }}{{ .chezmoi.pathSeparator }}dotfiles{{ .chezmoi.pathSeparator }}encrypted_env.toml{{ .chezmoi.config.{{ .chezmoi.config.encryption }}.suffix }}" | include | decrypt)).GithubToken {{ "}}" }}

