[Unit]
Description=rclone user service

[Service]
Type=forking
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/mxy/workspace/mxy/dotfiles/scripts/rclone.sh --mount %i
ExecStop=/home/mxy/workspace/mxy/dotfiles/scripts/rclone.sh --umount %i

[Install]
WantedBy=default.target
