input {
    keyboard {
        xkb {
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        // off
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

output "HDMI-A-1" {
    mode "2560x1440@60"
    position x=0 y=0
}

include "layout.kdl"

spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "~/workspace/mxy/dotfiles/scripts/start.sh"

hotkey-overlay {
    // skip-at-startup
}

prefer-no-csd

screenshot-path null

environment {
    // QT_IM_MODULES "wayland;fcitx;ibus"
}

animations {
    // off
    slowdown 3.0
    workspace-switch {
         duration-ms 250
         curve "ease-out-cubic"
    }
    horizontal-view-movement {
         duration-ms 250
         curve "ease-out-cubic"
    }
    window-open {
         duration-ms 150
         curve "ease-out-expo"
    }
    config-notification-open-close {
         duration-ms 250
         curve "ease-out-cubic"
    }
}

include "window.kdl"

include "bind.kdl"
