#:schema https://creativeprojects.github.io/resticprofile/jsonschema/config-2.json
version = "2"

[global]
# 如果不存在,则初始化仓库
initialize = true

[profiles.window]
# repository = "s3:http://192.168.32.100:5246/backup"
repository = "local:z:/baidu/backup"
password-file = "key"
pack-size = 128
http-user-agent = "pan.baidu.com"

[profiles.window.env]
AWS_ACCESS_KEY_ID = "aeonYDWWCfjZrEcGd8eG"
AWS_SECRET_ACCESS_KEY = "U8rFWWDvlQV0lV5pANmCbtSWwF5nSV98gG3xmPsb"

[profiles.window.backup]
tag = ["window"]
source = [
    "c:/Users/18723/workspace/mxy/mxy-wiki",
    "c:/Users/18723/workspace/mxy/mxy-private-diary",
    "d:/data",
]
skip-if-unchanged = true
exclude-file = "excludes.txt"
run-after = [
    # "rclone sync -P --transfers 1 alist:/local/backup alist:/baidu/backup", # 百度网盘有传输要求必须在30s内上传完一个分片,如果带宽过小且文件很大在多线程传输会导致一个分片在30s内不能传输完毕导致失败
    "rsync -avP /cygdrive/d/data /cygdrive/e/",
    # "rsync -p -z -r /cygdrive/d/data /cygdrive/z/local/",
]

[profiles.window.restore]
# 只覆盖更新的
overwrite = "if-newer"
delete = true

[profiles.window.forget]
# 只保留最近一天的
keep-daily = 1

[profiles.linux]
repository = "local:/home/mxy/rclone/alist/baidu/backup"
password-file = "key"
pack-size = 128
verbose = 2

[profiles.linux.backup]
tag = ["linux"]
skip-if-unchanged = true
exclude-file = "excludes.txt"
source = ["/home/mxy/Documents/obsidian", "/home/mxy/Documents/backup"]

[profiles.linux.restore]
overwrite = "if-newer"
delete = true
run-after = [
    "chmod -R 644 /home/mxy/Documents/backup",
    "chmod -R 644 /home/mxy/Documents/obsidian"
]

[profiles.linux.forget]
# 只保留最近一天的
keep-daily = 1
